/*-----------------------------------------
[Table Of Content]

    01. Typography CSS
    02. Color CSS
    03. Common Style CSS
    04. Header Area Style CSS
    
    00. Footer Style CSS
----------------------------------------*/
/*=====================================
   01. Typography CSS
===================================== */
body {
    color: #878c9b;
    font-size: 18px;
    font-family: "Karla", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    margin: 0;
}

/* Remove text-shadow in selection highlight. */
::-moz-selection {
    background: #f2b636;
    color: #FFFFFF;
    text-shadow: none;
}

::selection {
    background: #f2b636;
    color: #FFFFFF;
    text-shadow: none;
}

/* A better looking default horizontal rule */
hr {
    border: 0;
    border-top: 1px solid #eee;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    overflow: visible;
}

/* Remove the gap between audio, canvas, iframes,images, videos */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* Remove default fieldset styles. */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

/* Allow only vertical resizing of textareas. */
textarea {
    resize: vertical;
}

/* Anchor Tag Default Style */
a {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    outline: none;
    text-decoration: none;
}

a:hover,
a:active,
a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}

textarea:focus,
textarea:active,
input:focus,
input:active {
    outline: none;
}

/* Heading Default Style */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 400;
    color: #182141;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: 60px;
    margin-bottom: 6px;
    margin-top: -15px;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px),
only screen and (min-width: 768px) and (max-width: 991.98px) {

    h1,
    .h1 {
        margin-top: -12px;
    }
}

@media only screen and (max-width: 767.98px) {

    h1,
    .h1 {
        margin-top: -8px;
    }
}

h2,
.h2 {
    font-size: 56px;
    margin-bottom: 6px;
    margin-top: -14px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {

    h2,
    .h2 {
        margin-top: -10px;
    }
}

@media only screen and (max-width: 767.98px) {

    h2,
    .h2 {
        margin-top: -7px;
    }
}

h3,
.h3 {
    font-size: 48px;
    margin-bottom: 10px;
    margin-top: -12px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {

    h3,
    .h3 {
        margin-top: -9px;
    }
}

@media only screen and (max-width: 767.98px) {

    h3,
    .h3 {
        margin-top: -6px;
    }
}

h4,
.h4 {
    font-size: 32px;
    margin-bottom: 14px;
    margin-top: -8px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {

    h4,
    .h4 {
        margin-top: -6px;
    }
}

@media only screen and (max-width: 767.98px) {

    h4,
    .h4 {
        margin-top: -5px;
    }
}

h5,
.h5 {
    font-size: 26px;
    margin-bottom: 15px;
}

h6,
.h6 {
    font-size: 20px;
    margin-bottom: 12px;
}

/* Paragraph Margin */
p {
    margin-bottom: 15px;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

strong,
b {
    font-weight: 700;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

button:active,
button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

[data-mfp-src],
.btn-img-popup {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.parallax {
    background-repeat: no-repeat;
}

.form-message.alert {
    margin-top: 10px;
}

/*==========================
02. Color CSS
============================*/
.bg-white {
    background-color: #FFFFFF;
}

.bg-softWhite {
    background-color: #f8f8f8 !important;
}

.bg-brand {
    background-color: #f2b636;
}

.bg-secondary {
    background-color: #182141 !important;
}

.bg-secondary-soft {
    background-color: #263466;
}

.bg-secondary-2 {
    background-color: #496189;
}

.bg-blackSoft {
    background-color: #222222;
}

.text-brand {
    color: #f2b636;
}

/*============================
03. Common Style CSS
==============================*/
/*------------------
3.1 - Buttons Style
--------------------*/
.btn-group .btn {
    margin-right: 15px;
}

.btn-group .btn:last-child {
    margin-right: 0;
}

.btn {
    border-radius: 0;
    color: #182141;
    display: inline-block;
    padding: 0;
    font-size: 18px;
    -webkit-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
    transition: 0.4s ease-in;
    outline: none;
    position: relative;
}

.btn:focus,
.btn:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-bottom:before {
    background-color: #f2b636;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    height: 1px;
    width: 100%;
}

.btn-bottom:hover:before {
    bottom: -10px;
}

.btn-bordered {
    border: 3px solid #f2b636;
    border-radius: 50px;
    color: #182141;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding: 20px 40px;
    letter-spacing: 1.75px;
}

@media only screen and (max-width: 767.98px) {
    .btn-bordered {
        padding: 15px 25px;
    }
}

.btn-bordered:hover {
    background-color: #f2b636;
    color: #FFFFFF;
}

.btn-secondary {
    border: 3px solid #182141;
    background-color: #182141;
    border-radius: 50px;
    color: #f2b636;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding: 20px 40px;
    letter-spacing: 1.75px;
}

@media only screen and (max-width: 767.98px) {
    .btn-secondary {
        padding: 15px 25px;
    }
}

.btn-secondary:hover {
    background-color: transparent;
    border-color: #f2b636;
    color: #182141;
}

.btn-brand {
    background-color: #f2b636;
    border: 3px solid #f2b636;
    border-radius: 50px;
    color: #182141;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    padding: 20px 40px;
    letter-spacing: 1.75px;
}

@media only screen and (max-width: 767.98px) {
    .btn-brand {
        padding: 15px 25px;
    }
}

.btn-brand:hover {
    background-color: transparent;
    color: #f2b636;
}

.btn-xs {
    padding: 8px 15px;
    font-size: 13px;
}

.btn-md {
    padding: 15px 25px;
}

.btn-lg {
    padding: 18px 30px;
}

/*----------------------
3.2 - Background Image
-----------------------*/
.bg-img {
    background: no-repeat center center;
    background-size: cover;
}

.bg-img-tr {
    background: no-repeat top right;
}

.bg-img-tl {
    background: no-repeat top left;
}

.bg-img-br {
    background: no-repeat bottom right;
}

.bg-img-bl {
    background: no-repeat bottom left;
}

.bg-img-nr {
    background: no-repeat center center;
    background-size: contain;
}

/*-----------------
3.3 - Overflow
-------------------*/
.fix {
    overflow: hidden;
}

.fix-x {
    overflow-x: hidden;
}

.fix-y {
    overflow-y: hidden;
}

/*-------------------------
3.4 - Section title Style
--------------------------*/
.section-title {
    margin-bottom: 75px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .section-title {
        margin-bottom: 48px;
    }
}

@media only screen and (max-width: 767.98px) {
    .section-title {
        margin-bottom: 32px;
    }
}

.section-title h5 {
    color: #f2b636;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

@media only screen and (max-width: 767.98px) {
    .section-title h5 {
        margin-bottom: 18px;
    }
}

.section-title h2 {
    margin-bottom: 0;
}

.section-title p {
    margin-top: 27px;
    margin-bottom: 0;
}

@media only screen and (max-width: 767.98px) {
    .section-title p {
        margin-top: 14px;
    }
}

.section-title .btn {
    margin-top: 25px;
}

@media only screen and (max-width: 767.98px) {
    .section-title .btn {
        margin-top: 20px;
    }
}

.section-title--white h2 {
    color: #FFFFFF;
}

.section-title--brand h2 {
    color: #f2b636;
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px),
only screen and (min-width: 1200px) {
    .section-title--wp {
        margin-bottom: 83px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .section-title--wp {
        margin-bottom: 52px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .section-title--last-btn {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 767.98px) {
    .section-title--last-btn {
        margin-bottom: 40px;
    }
}

/*-------------------------
3.5 - List Style
--------------------------*/
.ht-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}

.ht-list li:last-child {
    margin-bottom: 0;
}

.ht-list li:before {
    content: '\f00c';
    font-family: "FontAwesome";
    color: #182141;
    position: absolute;
    font-weight: 300;
    font-size: 14px;
    top: 2px;
    left: 0;
}

.ht-list-brand li:before {
    color: #f2b636;
}

.ht-list-number {
    margin-left: 15px;
}

.ht-list-number li {
    list-style: decimal;
    padding-left: 10px;
}

.ht-list-number li:before {
    display: none;
}

/*--------------------------------
3.6 - Site Content Wrapper
----------------------------------*/
.site-wrapper {
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

@media only screen and (min-width: 1200px) {
    .site-wrapper--left-header .container-fluid {
        padding: 0 100px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.container-fluid {
    padding: 0 15px;
}

@media screen and (min-width: 1201px) {
    .container-fluid {
        padding: 0 100px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .container-fluid {
        max-width: 720px;
        margin: auto;
    }
}

/*--------------------------------
3.8 - LightSlider Customization
----------------------------------*/
.lSSlideOuter .lSAction a {
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 1px solid #EEEEEE;
    cursor: pointer;
    font-size: 25px;
    line-height: 70px;
    height: 70px;
    width: 70px;
    opacity: 1;
    position: absolute;
    left: -80px;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: auto;
}

@media only screen and (min-width: 1200px) and (max-width: 1599.98px) {
    .lSSlideOuter .lSAction a {
        line-height: 50px;
        height: 50px;
        width: 50px;
        left: -50px;
    }
}

.lSSlideOuter .lSAction a.lSNext {
    left: auto;
    right: -80px;
}

@media only screen and (min-width: 1200px) and (max-width: 1599.98px) {
    .lSSlideOuter .lSAction a.lSNext {
        right: -50px;
    }
}

.lSSlideOuter .lSAction a:hover {
    background-color: #182141;
    border-color: #182141;
    color: #FFFFFF;
}

.lSSlideOuter .lSPager.lSpg {
    margin: 47px 0 0;
    line-height: 1;
}

@media only screen and (max-width: 767.98px) {
    .lSSlideOuter .lSPager.lSpg {
        margin: 38px 0 0;
    }
}

.lSSlideOuter .lSPager.lSpg li {
    margin-right: 10px;
}

.lSSlideOuter .lSPager.lSpg li:last-child {
    margin-right: 0;
}

.lSSlideOuter .lSPager.lSpg li a {
    background-color: #182141;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
    outline: none;
    height: 10px;
    width: 10px;
}

.lSSlideOuter .lSPager.lSpg li.active a {
    background-color: #f2b636;
}

.lSSlideOuter .lSPager-2 li a {
    background-color: transparent;
    border: 3px solid #e6e8ee;
    height: 15px;
    width: 15px;
}

.lSSlideOuter .lSPager-2 li.active a,
.lSSlideOuter .lSPager-2 li:hover a {
    background-color: transparent;
    border-color: #f2b636;
}

.lSSlideOuter.lightArrows-2 .lSAction a {
    background-color: transparent;
    border: none;
    color: #222222;
    font-size: 55px;
    line-height: 1;
    height: auto;
    width: auto;
}

.lSSlideOuter.lightArrows-2 .lSAction a:hover {
    color: #f2b636;
}

/*--------------------------------
3.9 - Tippy Customization
----------------------------------*/
.tippy-popper .tippy-tooltip {
    background-color: #182141;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 7px 13px;
}

.tippy-popper[x-placement^='top'] .tippy-arrow {
    border-top-color: #182141 !important;
}

.tippy-popper[x-placement^='bottom'] .tippy-arrow {
    border-bottom-color: #182141 !important;
}

.tippy-popper[x-placement^='left'] .tippy-arrow {
    border-left-color: #182141 !important;
}

.tippy-popper[x-placement^='right'] .tippy-arrow {
    border-right-color: #182141 !important;
}

/*--------------------------------
3.10 - Magnific JS Customization
----------------------------------*/
.ht-mfp {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.ht-mfp.mfp-bg {
    background: #182141;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.ht-mfp .mfp-content {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media only screen and (min-width: 1200px) {
    .ht-mfp .mfp-content {
        max-width: 70%;
    }
}

.ht-mfp .mfp-content .mfp-close {
    display: none;
}

.ht-mfp .mfp-close {
    background-color: #f2b636;
    color: #FFFFFF;
    padding: 0;
    text-align: center;
    opacity: 1;
    top: 50px;
    right: 50px;
    height: 50px;
    width: 50px;
    line-height: 50px;
}

@media only screen and (max-width: 767.98px) {
    .ht-mfp .mfp-close {
        top: 30px;
        right: 30px;
        height: 40px;
        width: 40px;
        line-height: 40px;
    }
}

.ht-mfp .mfp-close:hover {
    background-color: #182141;
}

.ht-mfp .mfp-arrow {
    background-color: #f2b636;
    opacity: 1;
    margin-left: 15px;
    height: 55px;
    width: 55px;
}

.ht-mfp .mfp-arrow:before {
    display: none;
}

.ht-mfp .mfp-arrow:after {
    content: '\f104';
    color: #FFFFFF;
    font-family: "FontAwesome";
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.ht-mfp .mfp-arrow-right {
    margin-left: auto;
    margin-right: 15px;
}

.ht-mfp .mfp-arrow-right:after {
    content: '\f105';
}

.ht-mfp .mfp-arrow:hover {
    background-color: #0a0e1c;
}

.ht-mfp.zoom-animate.mfp-bg {
    opacity: 0;
}

.ht-mfp.zoom-animate .mfp-content {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
}

.ht-mfp.zoom-animate.mfp-ready.mfp-bg {
    opacity: 0.9;
}

.ht-mfp.zoom-animate.mfp-ready .mfp-content {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.ht-mfp.zoom-animate.mfp-removing .mfp-content {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    opacity: 0;
}

.ht-mfp.zoom-animate.mfp-removing.mfp-bg {
    opacity: 0;
}

.ht-mfp.zoom-animate.mfp-removing .mfp-close {
    opacity: 0;
}

/*--------------------------------
3.11 - Blockquote Style
----------------------------------*/
blockquote,
.blockquote {
    background-color: #222222;
    color: #FFFFFF;
    font-size: 26px;
    line-height: 1.4;
    padding: 42px 44px 80px;
    position: relative;
}

@media only screen and (max-width: 767.98px) {

    blockquote,
    .blockquote {
        padding: 20px 22px 60px;
    }
}

blockquote:before,
.blockquote:before {
    content: '\f10e';
    font-family: "FontAwesome";
    position: absolute;
    right: 40px;
    bottom: 40px;
}

@media only screen and (max-width: 767.98px) {

    blockquote:before,
    .blockquote:before {
        right: 30px;
        bottom: 20px;
    }
}

blockquote-title,
.blockquote-title {
    color: #f2b636;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1;
}

/*--------------------------------
3.12 - Nice Select Customization
----------------------------------*/
.nice-select {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #f2b636;
    color: #182141;
    float: inherit;
    font-size: 24px;
    padding-left: 0;
}

.nice-select:hover,
.nice-select:focus {
    border-bottom-color: #f2b636;
}

.nice-select:after {
    border-right-color: #182141;
    border-bottom-color: #182141;
    height: 7px;
    width: 7px;
}

.nice-select .list {
    border-radius: 0;
    color: #182141;
    font-size: 16px;
    width: 100%;
}

@media only screen and (max-width: 767.98px) {
    .button-item .btn-xl {
        padding: 20px 40px;
    }
}

/*==========================
3.0 - Template Spacing
============================*/
.sm-top {
    margin-top: 120px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .sm-top {
        margin-top: 90px;
    }
}

@media only screen and (max-width: 767.98px) {
    .sm-top {
        margin-top: 60px;
    }
}

.sm-bottom {
    margin-bottom: 120px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .sm-bottom {
        margin-bottom: 90px;
    }
}

@media only screen and (max-width: 767.98px) {
    .sm-bottom {
        margin-bottom: 60px;
    }
}

.sm-top-wp {
    margin-top: 115px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .sm-top-wp {
        margin-top: 85px;
    }
}

@media only screen and (max-width: 767.98px) {
    .sm-top-wp {
        margin-top: 55px;
    }
}

.sm-y-wp {
    margin: 115px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .sm-y-wp {
        margin: 85px 0;
    }
}

@media only screen and (max-width: 767.98px) {
    .sm-y-wp {
        margin: 60px 0;
    }
}

.sp-top {
    padding-top: 120px;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .sp-top {
        padding-top: 90px;
    }
}

@media only screen and (max-width: 767.98px) {
    .sp-top {
        padding-top: 60px;
    }
}

.sp-y {
    padding: 120px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .sp-y {
        padding: 90px 0;
    }
}

@media only screen and (max-width: 767.98px) {
    .sp-y {
        padding: 60px 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .sp-y-md {
        padding: 90px 0;
    }
}

@media only screen and (max-width: 767.98px) {
    .sp-y-sm {
        padding: 60px 0;
    }
}