/*=====================================
   01. Typography CSS
===================================== */

body {
  color: $paragraph;
  font-size: $baseFontSize;
  font-family: $baseFont;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
}

/* Remove text-shadow in selection highlight. */
::selection {
  background: $brandColor;
  color: $white;
  text-shadow: none;
}

/* A better looking default horizontal rule */
hr {
  border: 0;
  border-top: 1px solid $borderColor;
  box-sizing: content-box;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  overflow: visible;
}

/* Remove the gap between audio, canvas, iframes,images, videos */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* Remove default fieldset styles. */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/* Allow only vertical resizing of textareas. */
textarea {
  resize: vertical;
}

/* Anchor Tag Default Style */
a {
  transition: 0.4s;
  outline: none;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
  }
}

textarea, input {
  &:focus, &:active {
    outline: none;
  }
}

/* Heading Default Style */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 400;
  color: $headingColor;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 60px;
  margin-bottom: 6px;
  margin-top: -15px;

  @media #{$lg-device, $md-device} {
    margin-top: -12px;
  }

  @media #{$sm-device} {
    margin-top: -8px;
  }
}

h2, .h2 {
  font-size: 56px;
  margin-bottom: 6px;
  margin-top: -14px;

  @media #{$md-device} {
    margin-top: -10px;
  }

  @media #{$sm-device} {
    margin-top: -7px;
  }
}

h3, .h3 {
  font-size: 48px;
  margin-bottom: 10px;
  margin-top: -12px;

  @media #{$md-device} {
    margin-top: -9px;
  }

  @media #{$sm-device} {
    margin-top: -6px;
  }
}

h4, .h4 {
  font-size: 32px;
  margin-bottom: 14px;
  margin-top: -8px;

  @media #{$md-device} {
    margin-top: -6px;
  }

  @media #{$sm-device} {
    margin-top: -5px;
  }
}

h5, .h5 {
  font-size: 26px;
  margin-bottom: 15px;
}

h6, .h6 {
 font-size: 20px;
  margin-bottom: 12px;
}

/* Paragraph Margin */
p {
  margin-bottom: 15px;

  &:last-child{
    margin-bottom: 0;
  }
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

strong, b {
  font-weight: 700;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  box-shadow: none;
  transition: 0.4s;
  &:active, &:focus {
    outline: none;
    box-shadow: none;
  }
}

[data-mfp-src],.btn-img-popup{
  cursor: zoom-in;
}

.parallax{
  background-repeat: no-repeat;
}

.form-message.alert{
  margin-top: 10px;
}