<ul class="main-menu nav justify-content-center">
    <li class="has-submenu full-width active"><a href="index.html">Home</a>
        <ul class="submenu-nav submenu-nav-mega">
            <li class="mega-menu-item"><a href="#">Home Sample 01</a>
                <ul>
                    <li class="feature">
                        <a href="index-modern-agency.html">Modern Agency</a>
                        <img src="assets/img/menu-thumb/modern-agency.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index.html">Creative Agency</a>
                        <img src="assets/img/menu-thumb/creative-agency.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index-presentation.html">Presentation</a>
                        <img src="assets/img/menu-thumb/presentation.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-business-classic.html">Business Classic</a>
                        <img src="assets/img/menu-thumb/business-classic.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index-business-modern.html">Business Modern</a>
                        <img src="assets/img/menu-thumb/business-modern.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-portfolio-personal.html">Personal Portfolio</a>
                        <img src="assets/img/menu-thumb/personal-portfolio.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-graphic-design.html">Graphic Design</a>
                        <img src="assets/img/menu-thumb/graphic-design.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-landing-page.html">App Landing Homepage</a>
                        <img src="assets/img/menu-thumb/landing-page.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index-blog-full-slider.html">Blog Fullscreen Slider</a>
                        <img src="assets/img/menu-thumb/blog-full-slider.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                </ul>
            </li>
            <li class="mega-menu-item"><a href="#">Home Sample 02</a>
                <ul>
                    <li>
                        <a href="index-portfolio-full-carousel.html">Portfolio Fullscreen Carousel</a>
                        <img src="assets/img/menu-thumb/port-full-carousel.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-design-studio.html">Design studio</a>
                        <img src="assets/img/menu-thumb/design-studio.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-minimal.html">Minimalism</a>
                        <img src="assets/img/menu-thumb/minimal.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-portfolio-1.html">Portfolio 01</a>
                        <img src="assets/img/menu-thumb/portfolio-1.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index-portfolio-2.html">Portfolio 02</a>
                        <img src="assets/img/menu-thumb/portfolio-2.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-portfolio-fullscreen-slider.html">Fullscreen Portfolio Slider</a>
                        <img src="assets/img/menu-thumb/port-full-slider.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-shop-modern.html">Modern Shop</a>
                        <img src="assets/img/menu-thumb/modern-shop.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-blog-masonry.html">Blog Masonry Home</a>
                        <img src="assets/img/menu-thumb/blog-masonry.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                </ul>
            </li>
            <li class="mega-menu-item"><a href="#">Home Sample 03</a>
                <ul>
                    <li class="feature">
                        <a href="index-onepage.html">Onepage</a>
                        <img src="assets/img/menu-thumb/onepage.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-justified-gallery.html">Justified Gallery</a>
                        <img src="assets/img/menu-thumb/justified-gallery.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-portfolio-split.html">Split Portfolio</a>
                        <img src="assets/img/menu-thumb/portfolio-split.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-vcard.html">VCard</a>
                        <img src="assets/img/menu-thumb/vcard.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index-startup.html">Startup</a>
                        <img src="assets/img/menu-thumb/startup.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index-marketing-agency.html">Marketing Agency</a>
                        <img src="assets/img/menu-thumb/marketing-agency.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index-portfolio-metro.html">Metro Portfolio</a>
                        <img src="assets/img/menu-thumb/metro-portfolio.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-left-menu-multipurpose.html">Left menu multipurpose</a>
                        <img src="assets/img/menu-thumb/leftmenumultipurpose.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index-interior.html">Interior</a>
                        <img src="assets/img/menu-thumb/interior.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                </ul>
            </li>
            <li class="mega-menu-item"><a href="#">Home Sample 04</a>
                <ul>
                    <li class="feature">
                        <a href="index-business-service.html">Business Services</a>
                        <img src="assets/img/menu-thumb/business-service.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index-architecture.html">Architecture</a>
                        <img src="assets/img/menu-thumb/architecture.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-restaurant.html">Restaurant</a>
                        <img src="assets/img/menu-thumb/restaurant.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li>
                        <a href="index-photo-slider.html">Photo Slider</a>
                        <img src="assets/img/menu-thumb/photoslider.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index-shop-classic.html">Classic Shop</a>
                        <img src="assets/img/menu-thumb/classic-shop.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index-event.html">Events</a>
                        <img src="assets/img/menu-thumb/event.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index-construction.html">Construction</a>
                        <img src="assets/img/menu-thumb/construction.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index-finance-business.html">Finance Business</a>
                        <img src="assets/img/menu-thumb/finance-business.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                    <li class="feature">
                        <a href="index-wedding.html">Wedding</a>
                        <img src="assets/img/menu-thumb/wedding.jpg" alt="arden" class="menu-thumb"/>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="has-submenu"><a href="index.html">Pages</a>
        <ul class="submenu-nav">
            <li><a href="about.html">About Us</a></li>
            <li><a href="about-us-2.html">About Us 2</a></li>
            <li><a href="about-me.html">About Me</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            <li><a href="contact-2.html">Contact 2</a></li>
            <li><a href="service.html">Our Services</a></li>
            <li><a href="service-2.html">Our Services 2</a></li>
            <li><a href="pricing.html">Pricing Packages</a></li>
            <li><a href="team.html">Our Team</a></li>
            <li><a href="page-not-found.html">404 Page</a></li>
            <li><a href="maintenance.html">Maintenance</a></li>
            <li><a href="coming-soon.html">Coming Soon</a></li>
            <li><a href="faq.html">F.A.Qs</a></li>
        </ul>
    </li>
    <li class="has-submenu full-width"><a href="index.html">Elements</a>
        <ul class="submenu-nav submenu-nav-mega">
            <li class="mega-menu-item menu-content" id="d">
                <div class="menu-content-inner">
                    <h4>Hand-crafted elements for <span>multi purposes</span></h4>
                    <a href="#" target="_blank" class="btn-brand">Purchase</a>
                </div>
            </li>

            <li class="mega-menu-item"><a href="#">Elements 1</a>
                <ul>
                    <li><a href="element-accordion-toggle.html">Accordion & Toggles</a></li>
                    <li><a href="element-button.html">Button</a></li>
                    <li><a href="element-carousel.html">Carousels</a></li>
                    <li><a href="element-progress-bar.html">Progress Bar</a></li>
                    <li><a href="element-contact-form.html">Contact forms</a></li>
                    <li><a href="element-countdown-clock.html">Countdown clock</a></li>
                    <li><a href="element-tabs.html">Tabs</a></li>
                    <li><a href="element-team-member.html">Team member</a></li>
                </ul>
            </li>

            <li class="mega-menu-item"><a href="#">Elements 2</a>
                <ul>
                    <li><a href="element-counter.html">Counter</a></li>
                    <li><a href="element-divider.html">Dividers</a></li>
                    <li><a href="element-map.html">Map</a></li>
                    <li><a href="element-icon-box.html">Icon box</a></li>
                    <li><a href="element-image-slider.html">Image Slider</a></li>
                    <li><a href="element-lighbox-gallery.html">Lightbox gallery</a></li>
                    <li><a href="element-testimonial.html">Testimonials</a></li>
                    <li><a href="element-timeline.html">Timeline</a></li>
                </ul>
            </li>

            <li class="mega-menu-item"><a href="#">Elements 3</a>
                <ul>
                    <li><a href="element-list.html">Lists</a></li>
                    <li><a href="element-media-feed.html">Media Feed</a></li>
                    <li><a href="element-popup-video.html">Popup video</a></li>
                    <li><a href="element-pricing.html">Pricing</a></li>
                    <li><a href="element-flipbox.html">Flip Boxes</a></li>
                    <li><a href="element-social-icons.html">Social media button</a></li>
                    <li><a href="typography.html">Typography</a></li>
                    <li><a href="element-typed-text.html">Animate Text</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="has-submenu"><a href="blog.html">Blog</a>
        <ul class="submenu-nav">
            <li><a href="blog-grid.html">Blog Grid</a></li>
            <li><a href="blog-carousel.html">Blog Carousel</a></li>
            <li><a href="blog.html">Blog Large Image</a></li>
            <li><a href="blog-grid-with-image.html">Blog Grid With Image</a></li>
            <li><a href="blog-grid-with-sidebar.html">Blog Grid With Sidebar</a></li>
            <li><a href="blog-grid-with-masonry.html">Blog Grid Masonry Feature</a></li>
            <li class="has-submenu"><a href="#">Single Post Layouts</a>
                <ul class="submenu-nav">
                    <li><a href="blog-details.html">Blog Details</a></li>
                    <li><a href="blog-details-left-sidebar.html">Left Sidebar</a></li>
                    <li><a href="blog-details-no-sidebar.html">No Sidebar</a></li>
                    <li><a href="blog-details-link.html">Link Post</a></li>
                    <li><a href="blog-details-quote.html">Quote post</a></li>
                    <li><a href="blog-details-youtube.html">Youtube Post</a></li>
                    <li><a href="blog-details-gallery.html">Gallery Post</a></li>
                    <li><a href="blog-details-vimeo.html">Vimeo Post</a></li>
                    <li><a href="blog-details-audio.html">Audio Post</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="has-submenu"><a href="index.html">Portfolio</a>
        <ul class="submenu-nav">
            <li class="has-submenu"><a href="#">Grid Classic</a>
                <ul class="submenu-nav">
                    <li><a href="portfolio-classic-3-columns.html">3 Columns</a></li>
                    <li><a href="portfolio-classic-3-columns-no-gutter.html">3 Columns – No Gutter</a></li>
                    <li><a href="portfolio-classic-4-columns.html">4 Columns</a></li>
                    <li><a href="portfolio-classic-4-columns-no-gutter.html">4 Columns – No Gutter</a></li>
                    <li><a href="portfolio-classic-5-columns.html">5 Columns</a></li>
                    <li><a href="portfolio-classic-5-columns-no-gutter.html">5 Columns – No Gutter</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#">Grid Masonry</a>
                <ul class="submenu-nav">
                    <li><a href="portfolio-masonry-3-columns.html">3 Columns</a></li>
                    <li><a href="portfolio-masonry-3-columns-no-gutter.html">3 Columns – No Gutter</a></li>
                    <li><a href="portfolio-masonry-4-columns.html">4 Columns</a></li>
                    <li><a href="portfolio-masonry-4-columns-no-gutter.html">4 Columns – No Gutter</a></li>
                    <li><a href="portfolio-masonry-5-columns.html">5 Columns</a></li>
                    <li><a href="portfolio-masonry-5-columns-no-gutter.html">5 Columns – No Gutter</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#">Carousel</a>
                <ul class="submenu-nav">
                    <li><a href="portfolio-carousel-3-columns.html">3 Columns</a></li>
                    <li><a href="portfolio-carousel-3-columns-small-gutter.html">3 Columns – Small Gutter</a></li>
                    <li><a href="portfolio-carousel-4-columns.html">4 Columns</a></li>
                    <li><a href="portfolio-carousel-4-columns-small-gutter.html">4 Columns – Small Gutter</a></li>
                    <li><a href="portfolio-carousel-5-columns.html">5 Columns</a></li>
                    <li><a href="portfolio-carousel-5-columns-small-gutter.html">5 Columns – Small Gutter</a></li>
                </ul>
            </li>
            <li class="has-submenu"><a href="#">Grid Metro</a>
                <ul class="submenu-nav">
                    <li><a href="portfolio-metro-3-columns.html">3 Columns</a></li>
                    <li><a href="portfolio-metro-3-columns-no-gutter.html">3 Columns – Small Gutter</a></li>
                </ul>
            </li>
            <li><a href="portfolio-justified-gallery.html">Justified Gallery</a></li>
            <li><a href="portfolio.html">Grid With Caption</a></li>
            <li class="has-submenu"><a href="#">Portfolio Details</a>
                <ul class="submenu-nav">
                    <li><a href="portfolio-details.html">Left description</a></li>
                    <li><a href="portfolio-details-right-desc.html">Right description</a></li>
                    <li><a href="portfolio-details-img-gallery.html">Image gallery</a></li>
                    <li><a href="portfolio-details-img-slider.html">Image slider</a></li>
                    <li><a href="portfolio-details-video.html">Video</a></li>
                    <li><a href="portfolio-details-creative.html">Creative</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="has-submenu"><a href="index.html">Shop</a>
        <ul class="submenu-nav">
            <li><a href="shop.html">Shop Left Sidebar</a></li>
            <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
            <li><a href="single-product.html">Single Product</a></li>
            <li><a href="checkout.html">Checkout</a></li>
            <li><a href="cart.html">Cart</a></li>
        </ul>
    </li>
</ul>