<!--=======================Javascript============================-->
<!-- build:js assets/js/app.min.js -->
<!--=== Modernizr Min Js ===-->
<script src="assets/js/modernizr-3.6.0.min.js"></script>
<!--=== jQuery Min Js ===-->
<script src="assets/js/jquery-3.3.1.min.js"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
<!--=== Popper Min Js ===-->
<script src="assets/js/popper.min.js"></script>
<!--=== Bootstrap Min Js ===-->
<script src="assets/js/bootstrap.min.js"></script>

<!--=== Active Js ===-->
<script src="assets/js/active.js"></script>

<!-- endbuild -->