<!--== Favicon ==-->
<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon"/>

<!--== Google Fonts ==-->
<link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet">

<!-- build:css assets/css/app.min.css -->
<!--== Animate Min CSS ==-->
<link href="assets/css/animate.min.css" rel="stylesheet" />
<!--== Font-Awesome Min CSS ==-->
<link href="assets/css/font-awesome.min.css" rel="stylesheet" />
<!--== Bootstrap Min CSS ==-->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" />

<!--== Main Style CSS ==-->
<link href="assets/css/style.min.css" rel="stylesheet" />
<!-- endbuild -->

<!--[if lt IE 9]>
<script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->